In [1]:
import pandas as pd
%matplotlib inline

df = pd.read_csv("flight_near_crashes.csv", sep=",", error_bad_lines=False)

b'Skipping line 1744: expected 57 fields, saw 58\n'

In [2]:
df.head()

,rprt_nbr,event_utc_date,event_lcl_time,loc_city_name_std,loc_state_code_std,loc_arpt_name_std,event_eval_desc,sepn_slant_ft_qty,fac_rprt_loc_id_code,oprtr_nsdc_name_std1,...,None.5,CESSNA,None.6,None.7,GENERAL AVIATION (14 CFR 91).1,N86BJ,7500,None.8,VISUAL FLIGHT RULES.1,CLIMB
0,NSOTDAB16005,03-NOV-16,1645,PALM COAST,FL,None,CRITICAL,None,DAB,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N8705051840,05-MAY-87,None,ORLANDO,FL,ORLANDO INTL,CRITICAL,300,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N8705152345,15-MAY-87,None,KEY WEST,FL,KEY WEST INTL,POTENTIAL,100,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N8707111735,11-JUL-87,None,BEATTY,NV,BEATTY,CRITICAL,50,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N8809072330,07-SEP-88,None,SAN DIEGO,CA,MISSION BAY,CRITICAL,200,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.dtypes

rprt_nbr                          object
event_utc_date                    object
event_lcl_time                    object
loc_city_name_std                 object
loc_state_code_std                object
loc_arpt_name_std                 object
event_eval_desc                   object
sepn_slant_ft_qty                 object
fac_rprt_loc_id_code              object
oprtr_nsdc_name_std1              object
acft_nsdc_make_std1               object
acft_nsdc_model_std1              object
acft_nsdc_series_std1             object
oprtr_type_desc1                  object
acft_rgstrtn_nbr1                 object
acft_alt_ft_qty1                  object
acft_sightd_sec_qty1              object
acft_rule_flt_desc1               object
phase_of_flight1                  object
oprtr_nsdc_name_std2              object
acft_nsdc_make_std2               object
acft_nsdc_model_std2              object
acft_nsdc_series_std2             object
oprtr_type_desc2                  object
acft_rgstrtn_nbr2                 object
acft_alt_ft_qty2                  object
acft_sightd_sec_qty2              object
acft_rule_flt_desc2               object
phase_of_flight2NNMTAPA08001      object
10-JAN-08                         object
856                               object
PARKER                            object
CO                                object
CENTENNIAL                        object
None                              object
None.1                            object
APA                               object
None.2                            object
ADAM AIRCRAFT INDUSTRIES          object
A700                              object
None.3                            object
GENERAL AVIATION (14 CFR 91)      object
N700LJ                            object
7400                              object
None.4                            object
VISUAL FLIGHT RULES               object
DESCENT                           object
None.5                            object
CESSNA                            object
None.6                            object
None.7                            object
GENERAL AVIATION (14 CFR 91).1    object
N86BJ                             object
7500                              object
None.8                            object
VISUAL FLIGHT RULES.1             object
CLIMB                             object
dtype: object

In [4]:
df["event_eval_desc"].value_counts()

POTENTIAL      4099
NO HAZARD      1715
CRITICAL       1116
None            641
 RYAN FIELD       5
Name: event_eval_desc, dtype: int64

In [5]:
df["CLIMB"].value_counts()

LEVEL FLIGHT/CRUISE    12
CLIMB                   4
UNKNOWN                 3
APPROACH                2
LANDING                 2
DESCENT                 2
TURNING                 2
None                    1
TAKEOFF                 1
Name: CLIMB, dtype: int64

In [6]:
df["phase_of_flight1"].value_counts()

LEVEL FLIGHT/CRUISE                                           2510
DESCENT                                                       1352
CLIMB                                                         1081
APPROACH                                                       982
LANDING                                                        440
None                                                           315
TAKEOFF                                                        268
TURNING                                                        200
UNKNOWN                                                        171
INSTRUMENT FLIGHT RULES                                         95
VISUAL FLIGHT RULES                                             71
HOLDING                                                          5
TRAFFIC PATTERN                                                  4
MISSED APPROACH                                                  3
GO AROUND                                                        3
VFR PATTERN                                                      2
HOLDING PATTERN                                                  2
ENTERING TRAFFIC PATTERN                                         2
IN HOLDING PATTERN                                               2
ON DOWNWIND LEG                                                  1
TAXIING AFTER LANDING                                            1
ENTERING RIGHT DOWNWIND                                          1
INITIAL CALL IN                                                  1
ENTERING PATTERN                                                 1
LEFT CLOSED TRAFFIC RWY 17L                                      1
HOLDING AT ROCHS INTERSECTION                                    1
UPWIND/HELO TRAFFIC PATTERN                                      1
HOLDING VFR FOR USAFA FLY-BY                                     1
DEFENSE VFR                                                      1
LEVEL FLIGHT PRIOR TO APPROACH                                   1
                                                              ...
ON RUNWAY                                                        1
TRAFFIC PATTERN WORK                                             1
TOWER'S PATTERN                                                  1
TAXI TO GATE                                                     1
HOVER TAXI                                                       1
VISUAL APPROACH                                                  1
EXTENDED UPWIND                                                  1
MAINTAINING 3000' RESTRICTION IMPOSED BY DEPARTURE CONTROL       1
ARRIVAL                                                          1
GO-AROUND                                                        1
PATTERN WORK                                                     1
RPTG: HOVER/OTHER: TRAFFIC PATTERN                               1
DEPARTURE                                                        1
ORBITING - SURVEILLANCE                                          1
TAXING ON RWY                                                    1
TAXIING                                                          1
POLICE SURVEILLANCE                                              1
RIGHT BREAK                                                      1
FORMATION PITCHOUT                                               1
PATTERN TRAFFIC                                                  1
IN POSITION ON RWY35R                                            1
LOW APPROACH                                                     1
PATTERN                                                          1
DOING PATTERN WORK                                               1
AEROTOW CONNECTED FORMATION                                      1
SETTING UP FOR A LEFT DOWNWIND TO RY 9L                          1
TERRAIN FOLLOWING AT 600' AGL ON IR320                           1
SHALLOW RIGHT DESCENDING TURN                                    1
ON ROLL OUT RWY 04                                               1
RIGHT CROSSWIND/DOWNWIND                                         1
Name: phase_of_flight1, Length: 87, dtype: int64

In [7]:
df.drop(["DESCENT", "None.5", "CESSNA", "None.4", "VISUAL FLIGHT RULES", "None.6", "None.7", "GENERAL AVIATION (14 CFR 91).1", "N86BJ", "7500", "None.8", "VISUAL FLIGHT RULES.1", "None.1", "APA", "None.2", "A700", "None.3", "GENERAL AVIATION (14 CFR 91)", "N700LJ", "7400", "CENTENNIAL", "None", "856", "PARKER", "10-JAN-08", "CO"], axis=1, inplace=True)

In [8]:
df["ADAM AIRCRAFT INDUSTRIES"].value_counts()

CESSNA                      6
BOEING                      4
PIPER                       3
BEECH                       2
MCDONNELL-DOUGLAS-BOEING    2
BELL                        1
AIRBUS                      1
GRUMAN                      1
DOUG                        1
None                        1
JETSTREAM-BAE SYSTEMS       1
STNSON                      1
NORTRP                      1
DASSAULT AVIATION           1
LOCKHEED                    1
EMBRAER                     1
SAAB                        1
Name: ADAM AIRCRAFT INDUSTRIES, dtype: int64

In [9]:
df["Year"] = df["event_utc_date"].str.split('-', 2, expand=True)[2]

In [16]:
df["Year"] = df["Year"].astype(int)

In [11]:
df["Year_200"] = df["Year"] < 10

In [12]:
df["Year_final"] = df["Year"] + 2000

In [13]:
df["Year_final_1"] = df.loc[df["Year_final"] > 2017, "Year_final"] + 1000

In [14]:
df.head()

,rprt_nbr,event_utc_date,event_lcl_time,loc_city_name_std,loc_state_code_std,loc_arpt_name_std,event_eval_desc,sepn_slant_ft_qty,fac_rprt_loc_id_code,oprtr_nsdc_name_std1,...,acft_alt_ft_qty2,acft_sightd_sec_qty2,acft_rule_flt_desc2,phase_of_flight2NNMTAPA08001,ADAM AIRCRAFT INDUSTRIES,CLIMB,Year,Year_200,Year_final,Year_final_1
0,NSOTDAB16005,03-NOV-16,1645,PALM COAST,FL,None,CRITICAL,None,DAB,None,...,3100,None,VISUAL FLIGHT RULES,CLIMB,NaN,NaN,16,False,2016,NaN
1,N8705051840,05-MAY-87,None,ORLANDO,FL,ORLANDO INTL,CRITICAL,300,None,None,...,1000,None,UNKNOWN,LEVEL FLIGHT/CRUISE,NaN,NaN,87,False,2087,3087.0
2,N8705152345,15-MAY-87,None,KEY WEST,FL,KEY WEST INTL,POTENTIAL,100,None,None,...,66,None,VISUAL FLIGHT RULES,None,NaN,NaN,87,False,2087,3087.0
3,N8707111735,11-JUL-87,None,BEATTY,NV,BEATTY,CRITICAL,50,None,None,...,4200,None,UNKNOWN,LEVEL FLIGHT/CRUISE,NaN,NaN,87,False,2087,3087.0
4,N8809072330,07-SEP-88,None,SAN DIEGO,CA,MISSION BAY,CRITICAL,200,None,None,...,300,None,VISUAL FLIGHT RULES,DESCENT,NaN,NaN,88,False,2088,3088.0

In [23]:
df.loc[df["Year"] < 18, "Year"] + 2000 | df.loc[df["Year"] >18, "Year"] + 1900

SyntaxError: invalid syntax (<ipython-input-23-20b184699133>, line 1)